body {
  font-family: "Poppins", sans-serif;
  background-color: #000917;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("../images/usa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0px;
}

header h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 24px;
  margin: 0;
}

header h4 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 0;
}

header a {
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 15px 25px;
  margin-top: 25px;
}

@media (max-width: 912px) {
  header {
    padding: 50px 0px;
  }
  header h1 {
    font-size: 42px;
  }
  header h3 {
    font-size: 18px;
  }
  header h4 {
    font-size: 14px;
  }
}

main {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 25px;
}

@media (max-width: 540px) {
  main h3 {
    font-size: 14px;
    margin-top: 0;
  }
  main p {
    font-size: 10px;
  }
}

main .main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 25px 25px;
}

.main-grid img {
  width: 100%;
  justify-items: center;
}

div.secondary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}

.main-paragraph {
  font-size: 20px;
}

@media (max-width: 820px) {
  div.secondary-grid {
    display: block;
  }
}

@media (max-width: 400px) {
  div.secondary-grid {
    max-width: 200px;
    margin: 0 auto;
  }
  .main-paragraph {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  div.secondary-grid {
    max-width: 270px;
    margin: 0 auto;
  }
}

.destinations-header h2 {
  text-align: center;
  margin-bottom: 0;
}

.destinations-grid h3 {
  text-align: center;
  margin-bottom: 0;
}

.destinations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  max-width: 85%;
  margin: 0 auto;
}

.grand-canyon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/grandcanyon.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 75px 0px;
  text-align: center;
}

.rocky-mtn {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/rocky-mtns.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 75px 0px;
  text-align: center;
}

.white-sands {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/white-sands-national-park.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 75px 0px;
  text-align: center;
}

.zion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/zion-natl-park.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 75px 0px;
  text-align: center;
}

.grand-canyon a,
.rocky-mtn a,
.white-sands a,
.zion a {
  color: white;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgba(0, 9, 23, 0.9), rgba(0, 9, 23, 0.8)),
    url("../images/az_mtns.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  bottom: 0px;
  color: white;
  text-align: center;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 24px;
  padding: 10px 10px;
}

footer h4 {
  letter-spacing: 1px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
}

footer .signature {
  text-align: center;
  margin-top: 0;
  padding-bottom: 10px;
  font-style: italic;
}

footer a {
  color: salmon;
}

@media (max-width: 900px) {
  footer {
    font-size: 12px;
  }
}
